{% extends "layout.html" %}
{% block body%}
    <div>
	<h2> <a href="{{ alert.link }}">{{ alert.name }}</a></h2>
	<li><b>alert interval: </b> {{ alert.interval }}
	<li><b>email alert: </b> {{ email }}
   	<li><b>text alert: </b> {{ text }}
   	<li><b>status: </b> {{ active }}
   	<li><em>Last updated: {{ alert.last_update }}</em>
    <li><a href="{{ url_for('editalert', alertname = alert.name) }}">edit alert</a>
    </div>
    <br>
    <div>
    <h2>Latest Posts</h2>
    {% for pair in pairs %}
    	<li><a href="{{ pair[1] }}">{{ pair[0] }}</a>
    {% else %}
        <li><em>Nothing to see here yet.  Please return once we have collected some data</em>
    {% endfor %}
    </div>
    <br>
    <div>
    <h2>New Posts over Time </h2>
    <img src="{{ pname }}" alt="CL Plot" height="400" width="500">
    </div>
{% endblock %}
